 <div class="menu">
      <a> プロフィール</a>
      <a> ポートフォリオ投稿</a>
      <a> SNS</a>
      <a> 理念</a>
  </div>

  
  <div class="main">
    <div class="start-right">
      <h1 class="top-font-right">プロフィール</h1>
        <div class="main-back">
          <img src ="image/img.png" alt="サンプル画像" class="img-file">
          <a class="myprofile">初めまして私の自己紹介ポートフォリオにようこそ</a>
          <a></a>
        </div>
    </div>
    <div>
      <h3 class="coment-center">最新のポートフォリオ一覧<h3>
      <p>--------------------------------------</p>
      <h3 class="coment-center">コメント一覧<h3>
    </div>
  </div>
</body>
